USE [master]
GO
/****** Object:  Database [SWP]    Script Date: 07/07/2025 3:42:20 CH ******/
CREATE DATABASE [SWP]

USE [SWP]
GO
/****** Object:  Table [dbo].[Area_Image]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area_Image](
	[imageID] [int] IDENTITY(1,1) NOT NULL,
	[area_id] [int] NULL,
	[imageURL] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[imageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[area_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[location] [nvarchar](255) NULL,
	[manager_id] [int] NOT NULL,
	[court] [int] NULL,
	[open_time] [time](7) NOT NULL,
	[close_time] [time](7) NOT NULL,
	[descriptions] [nvarchar](max) NULL,
	[phone_area] [varchar](20) NULL,
	[nameStaff] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas_Services]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas_Services](
	[AreaServices_id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NOT NULL,
	[area_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaServices_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BadmintonService]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BadmintonService](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image_url] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[banner_id] [int] IDENTITY(1,1) NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[caption] [nvarchar](500) NULL,
	[status] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[banner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking_Services]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_Services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NULL,
	[service_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[court_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[status] [nvarchar](50) NULL,
	[rating] [int] NULL,
	[total_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatbotMessages]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotMessages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[message_content] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NULL,
	[sender_type] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatbotResponses]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotResponses](
	[response_id] [int] IDENTITY(1,1) NOT NULL,
	[intent] [nvarchar](255) NOT NULL,
	[response_text] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[response_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatbotSessions]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotSessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[started_at] [datetime] NULL,
	[ended_at] [datetime] NULL,
	[session_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [varchar](max) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courts]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courts](
	[court_id] [int] IDENTITY(1,1) NOT NULL,
	[court_number] [varchar](50) NOT NULL,
	[type] [nvarchar](50) NULL,
	[floor_material] [nvarchar](50) NULL,
	[lighting] [nvarchar](50) NULL,
	[description] [nvarchar](255) NULL,
	[image_url] [nvarchar](255) NULL,
	[status] [nvarchar](50) NULL,
	[area_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[court_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faq_answer]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faq_answer](
	[answer_id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[answer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faq_question]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faq_question](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[tag_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faq_tag]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faq_tag](
	[tag_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[image_url] [nvarchar](255) NULL,
	[created_by] [int] NOT NULL,
	[scheduled_time] [datetime] NULL,
	[sent_time] [datetime] NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_Receiver]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Receiver](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[notification_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetime] NULL,
	[opened_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[is_used] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostReactions]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostReactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[reaction_type] [varchar](20) NOT NULL,
	[reacted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[image] [varchar](255) NULL,
	[type] [varchar](20) NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion_Area]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion_Area](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[promotion_id] [int] NOT NULL,
	[area_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion_Service]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion_Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[promotion_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[promotion_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[area_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [varchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[area_id] [int] NOT NULL,
	[shift_name] [varchar](255) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/07/2025 3:42:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](100) NULL,
	[phone_number] [varchar](20) NULL,
	[role] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[note] [nvarchar](max) NULL,
	[gender] [nvarchar](10) NULL,
	[firstname] [nvarchar](100) NULL,
	[lastname] [nvarchar](100) NULL,
	[fullname]  AS (concat([lastname],' ',[firstname])) PERSISTED NOT NULL,
	[date_of_birth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([area_id], [name], [location], [manager_id], [court], [open_time], [close_time], [descriptions], [phone_area], [nameStaff]) VALUES (1, N'Hola', N'Ha Noi', 2, 1, CAST(N'03:30:00' AS Time), CAST(N'12:30:00' AS Time), N'Đẹp', N'0346876543', N'Nguyễn Văn Nghĩa')
INSERT [dbo].[Areas] ([area_id], [name], [location], [manager_id], [court], [open_time], [close_time], [descriptions], [phone_area], [nameStaff]) VALUES (5, N'Hola1', N'Ha Noi', 3, 0, CAST(N'01:11:00' AS Time), CAST(N'22:11:00' AS Time), N'Thoáng mát rộng rãi', N'0346492902', N'Anh Duy ')
INSERT [dbo].[Areas] ([area_id], [name], [location], [manager_id], [court], [open_time], [close_time], [descriptions], [phone_area], [nameStaff]) VALUES (11, N'Hola2', N'Ha Noi', 3, 0, CAST(N'01:59:00' AS Time), CAST(N'16:59:00' AS Time), N'Thoáng mát rộng rãi', N'0346492902', N'Anh Duy ')
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO
SET IDENTITY_INSERT [dbo].[BadmintonService] ON 

INSERT [dbo].[BadmintonService] ([service_id], [name], [price], [description], [image_url], [status], [created_at], [updated_at], [is_deleted]) VALUES (1, N'Thuê Vợt', CAST(10000.00 AS Decimal(10, 2)), N'dsfds', N'dsfdsf', N'Active', CAST(N'2025-06-30T15:30:25.900' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[BadmintonService] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([booking_id], [user_id], [court_id], [date], [start_time], [end_time], [status], [rating], [total_price]) VALUES (1, 1, 1, CAST(N'2025-06-23' AS Date), CAST(N'08:30:00' AS Time), CAST(N'09:30:00' AS Time), N'pending', NULL, NULL)
INSERT [dbo].[Bookings] ([booking_id], [user_id], [court_id], [date], [start_time], [end_time], [status], [rating], [total_price]) VALUES (2, 1, 1, CAST(N'2025-06-23' AS Date), CAST(N'03:30:00' AS Time), CAST(N'04:30:00' AS Time), N'pending', NULL, CAST(10000.00 AS Decimal(10, 2)))
INSERT [dbo].[Bookings] ([booking_id], [user_id], [court_id], [date], [start_time], [end_time], [status], [rating], [total_price]) VALUES (3, 1, 1, CAST(N'2025-06-26' AS Date), CAST(N'03:30:00' AS Time), CAST(N'04:30:00' AS Time), N'pending', NULL, CAST(10000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatbotMessages] ON 

INSERT [dbo].[ChatbotMessages] ([message_id], [user_id], [message_content], [created_at], [sender_type]) VALUES (1, NULL, N'hello', CAST(N'2025-07-06T14:21:28.510' AS DateTime), N'user')
INSERT [dbo].[ChatbotMessages] ([message_id], [user_id], [message_content], [created_at], [sender_type]) VALUES (2, NULL, N'Tôi có thể giúp gì cho bạn?', CAST(N'2025-07-06T14:21:28.570' AS DateTime), N'bot')
INSERT [dbo].[ChatbotMessages] ([message_id], [user_id], [message_content], [created_at], [sender_type]) VALUES (3, NULL, N'tôi muốn đặt sân', CAST(N'2025-07-06T14:21:36.523' AS DateTime), N'user')
SET IDENTITY_INSERT [dbo].[ChatbotMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Courts] ON 

INSERT [dbo].[Courts] ([court_id], [court_number], [type], [floor_material], [lighting], [description], [image_url], [status], [area_id], [price]) VALUES (1, N'Sân 1', N'Cao cấp', N'Nhựa', N'tốt', N'dfg', N'uploads/1750689350236_z6712276299197_3588211e9d05fa9a4f91a4336d13ad07.jpg', N'available', 1, CAST(10000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Courts] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion_Area] ON 

INSERT [dbo].[Promotion_Area] ([id], [promotion_id], [area_id]) VALUES (11, 4, 1)
SET IDENTITY_INSERT [dbo].[Promotion_Area] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([promotion_id], [title], [description], [discount_percent], [discount_amount], [start_date], [end_date], [status], [created_at], [updated_at]) VALUES (4, N'Ngày đặc biệt', N'Giảm giá cực sốc', CAST(10.00 AS Decimal(5, 2)), CAST(10000.00 AS Decimal(10, 2)), CAST(N'2025-07-02T00:00:00.000' AS DateTime), CAST(N'2025-07-03T00:00:00.000' AS DateTime), N'active', CAST(N'2025-07-01T17:04:36.330' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Shift] ON 

INSERT [dbo].[Shift] ([shift_id], [area_id], [shift_name], [start_time], [end_time]) VALUES (1, 1, N'ca sang', CAST(N'03:30:00' AS Time), CAST(N'12:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[Shift] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [email], [phone_number], [role], [created_at], [status], [note], [gender], [firstname], [lastname], [date_of_birth]) VALUES (1, N'nghianv', N'8b111a9f0679ea400ee2929870865ed1364c51dd96d79b812c14c5e6d0e99cb9', N'nghiavip2004kl@gmail.com', N'0346492902', N'user', CAST(N'2025-06-23T21:07:01.753' AS DateTime), N'Active', NULL, N'Nam', N'Nguyễn Văn', N'Nghĩa', NULL)
INSERT [dbo].[Users] ([user_id], [username], [password], [email], [phone_number], [role], [created_at], [status], [note], [gender], [firstname], [lastname], [date_of_birth]) VALUES (2, N'nghiavip', N'8b111a9f0679ea400ee2929870865ed1364c51dd96d79b812c14c5e6d0e99cb9', N'nghiavip@example.com', N'0323456789', N'admin', CAST(N'2025-06-23T21:14:58.033' AS DateTime), N'1', NULL, N'M', N'Nghia', N'Nguy?n', CAST(N'2004-01-01' AS Date))
INSERT [dbo].[Users] ([user_id], [username], [password], [email], [phone_number], [role], [created_at], [status], [note], [gender], [firstname], [lastname], [date_of_birth]) VALUES (3, N'nghianv8', N'8b111a9f0679ea400ee2929870865ed1364c51dd96d79b812c14c5e6d0e99cb9', N'he180712nguyenvannghia@gmail.com', N'0346492903', N'staff', CAST(N'2025-06-24T08:12:25.743' AS DateTime), N'Active', NULL, N'Nam', N'Duy ', N'Anh', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Badminto__72E12F1BDA5D524D]    Script Date: 07/07/2025 3:42:20 CH ******/
ALTER TABLE [dbo].[BadmintonService] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_court_number]    Script Date: 07/07/2025 3:42:20 CH ******/
ALTER TABLE [dbo].[Courts] ADD  CONSTRAINT [uq_court_number] UNIQUE NONCLUSTERED 
(
	[court_number] ASC,
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__faq_tag__72E12F1B47EF2C7A]    Script Date: 07/07/2025 3:42:20 CH ******/
ALTER TABLE [dbo].[faq_tag] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__password__CA90DA7A9F48560A]    Script Date: 07/07/2025 3:42:20 CH ******/
ALTER TABLE [dbo].[password_reset_tokens] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserPost]    Script Date: 07/07/2025 3:42:20 CH ******/
ALTER TABLE [dbo].[PostReactions] ADD  CONSTRAINT [UQ_UserPost] UNIQUE NONCLUSTERED 
(
	[post_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC57292005464]    Script Date: 07/07/2025 3:42:20 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BadmintonService] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[BadmintonService] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BadmintonService] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ChatbotMessages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ChatbotResponses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ChatbotSessions] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[ChatbotSessions] ADD  DEFAULT ('active') FOR [session_status]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[faq_answer] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[faq_question] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[PostReactions] ADD  DEFAULT (getdate()) FOR [reacted_at]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Area_Image]  WITH CHECK ADD FOREIGN KEY([area_id])
REFERENCES [dbo].[Areas] ([area_id])
GO
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD FOREIGN KEY([manager_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Areas_Services]  WITH CHECK ADD FOREIGN KEY([area_id])
REFERENCES [dbo].[Areas] ([area_id])
GO
ALTER TABLE [dbo].[Areas_Services]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[BadmintonService] ([service_id])
GO
ALTER TABLE [dbo].[Booking_Services]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([booking_id])
GO
ALTER TABLE [dbo].[Booking_Services]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[BadmintonService] ([service_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([court_id])
REFERENCES [dbo].[Courts] ([court_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ChatbotMessages]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ChatbotSessions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Posts] ([post_id])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Courts]  WITH CHECK ADD FOREIGN KEY([area_id])
REFERENCES [dbo].[Areas] ([area_id])
GO
ALTER TABLE [dbo].[faq_answer]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[faq_question] ([question_id])
GO
ALTER TABLE [dbo].[faq_question]  WITH CHECK ADD FOREIGN KEY([tag_id])
REFERENCES [dbo].[faq_tag] ([tag_id])
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD  CONSTRAINT [FK_password_reset_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_tokens] CHECK CONSTRAINT [FK_password_reset_user]
GO
ALTER TABLE [dbo].[PostReactions]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[Posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostReactions]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Promotion_Area]  WITH CHECK ADD FOREIGN KEY([area_id])
REFERENCES [dbo].[Areas] ([area_id])
GO
ALTER TABLE [dbo].[Promotion_Area]  WITH CHECK ADD FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotions] ([promotion_id])
GO
ALTER TABLE [dbo].[Promotion_Service]  WITH CHECK ADD FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotions] ([promotion_id])
GO
ALTER TABLE [dbo].[Promotion_Service]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[BadmintonService] ([service_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([area_id])
REFERENCES [dbo].[Areas] ([area_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Shift]  WITH CHECK ADD FOREIGN KEY([area_id])
REFERENCES [dbo].[Areas] ([area_id])
GO
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [chk_area_time] CHECK  (([open_time]<[close_time]))
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [chk_area_time]
GO
ALTER TABLE [dbo].[BadmintonService]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [chk_booking_time] CHECK  (([start_time]<[end_time]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [chk_booking_time]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[ChatbotMessages]  WITH CHECK ADD CHECK  (([sender_type]='bot' OR [sender_type]='user'))
GO
ALTER TABLE [dbo].[Courts]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD CHECK  (([status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD CHECK  (([type]='common' OR [type]='partner' OR [type]='news'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
